/*!--------RESET---------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*!--------HEADER INDEX---------*/

.navbar-brand img{
    height: 120px;
    width: 120px;
}

.container-fluid{
    background-color: black;
    text-decoration: white;
}

.offcanvas-header{
    background-color: black;
    text-decoration: white;
}

.offcanvas-body{
    background-color: black;
    text-decoration: white;
}

/*header img{
    height: 120px;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin: 5px;
    padding: 40px;
}

header nav ul li a{
    text-decoration: none;
    color:white
}

/*!--------MAIN---------*/


.cocinemos {
    text-align: left;
    width: 100%;
    height: 400px;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: flex-start;     
    padding-left: 50px;           
}

.cocinemos h1{
    font-size: 60px;
    border-bottom: 2px solid white;
    display: inline-block;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-start; 
    margin-left: 50px;
}

.presentacion h2{
    color: black;
    font-size: 20px;
    margin: 15px;
}

.presentacion img{ 
    width: 400px;
    height: 500px;


}

.presentacion{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/*----seccion de destacados imagenes y galeria----*/

.separador-contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.destacados .separador-contenedor div{
    border: 1px solid grey;
    width: 250px;
    height: 280px;
    margin: 15px;
    text-align: center
}

.destacados div img{
    width: 250px;
    height: 200px;
}

.destacados div a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    background-color: black;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.destacados div h3{
    margin: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.destacados h2{
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
}

.empanadas h2{
    margin: 5px;

}

/*!--------FOOTER---------*/

footer{
    background-color: black;
    background-position:top;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    object-fit: fill;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}


/*!--------PRODUCTOS PG2---------*/

.custom-carousel {
  max-width: 800px;
  margin: auto;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.productos img{ 
    width: 400px;
    height: 500px;
}

.productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productos div a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: black;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
}

.productos iframe{
    width: 560px;
    height: 315px;
    margin: 20px;
} 

/*---------- MEDIA-----------*/

@media screen and (max-width:560px) {
    header{
        flex-direction:column;

    }
    
    header img{
        height: 100px;
        width: 100px;
        align-items: center;
    }

    .cocinemos h1{
    font-size: 30px;
    border-bottom: 2px solid white;
    display: inline-block;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-start; 
    margin-left: 25px;
}

.presentacion img{
    display: none;
}

.presentacion h2{
    text-align: center;
    font-weight: bold;
}

.presentacion p{
    text-align: center;
    margin: 10px;
    padding: 5px;
}

}