.navbar-brand img {
    height: 120px;
    width: 120px;
}

.container-fluid {
    background-color: black;
    text-decoration: white;
}

.offcanvas-header {
    background-color: black;
    text-decoration: white;
}

.offcanvas-body {
    background-color: black;
    text-decoration: white;
}

#offcanvasNavbarLabel {
    color: white;
}